/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
h1{
    font-size: 50px;
}
p{
    color: dimgray;
}
.name-highlight{
    color: orange;
}
img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.link-btn{
    padding: 10px 20px;
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}